*.o
*.obj
*.exe
*.out
*.dll
*.so
*.a
*.lib

ToDo.txt
studentai10000.txt
studentai100000.txt
studentai1000000.txt
studentai10000000.txt
studentai100000000.txt
kietiakuRezultatai.txt
vargsiukuRezultatai.txt


