*.o
*.obj
*.exe
*.out
*.dll
*.so
*.a
*.lib

.vs/
.vscode/

CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
*.log

ToDo.txt
studentai1000.txt
studentai10000.txt
studentai100000.txt
studentai1000000.txt
studentai10000000.txt
kietiakai.txt
vargsiukai.txt
studentai.zip
runTimeResults.txt
kietiakuRezultatai.txt
vargsiukuRezultatai.txt


